<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392603080295-tn1umpdkh1r8p136orifatn0mqvqnvu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392603080295-tn1umpdkh1r8p136orifatn0mqvqnvu3</string>
	<key>API_KEY</key>
	<string>AIzaSyBt0LitB8rZYuBTnb1M-RQpM2YmBhu9Xf0</string>
	<key>GCM_SENDER_ID</key>
	<string>392603080295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-firstproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-firstproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392603080295:ios:7a8ef9922d8ee08d6166c2</string>
</dict>
</plist>